<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.work_shop.bs_caption', :default => 'work_shop') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), work_shops_path, :class => "btn btn-default" %>