<!-- Beautiful Scaffold Menu Do Not Touch This -->
      <li class="<%= "active" if params[:controller] == "users" %>">
        <%= link_to t('app.models.user.bs_caption_plural', :default => 'Users').capitalize, users_path %>
      </li>
      <li class="<%= "active" if params[:controller] == "work_shops" %>">
        <%= link_to t('app.models.work_shop.bs_caption_plural', :default => 'Workshops').capitalize, work_shops_path %>
      </li>
